.cart-section {
  width: 100%;
  max-width: 1200px;
  padding: 4rem 2rem;
  background-color: #0d0d0d;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #00e5ff;
  margin-bottom: 2rem;
}

.cart-empty-message {
  font-size: 1.2rem;
  color: #b0bec5;
}

.cart-items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.cart-item {
  display: flex;
  background: #181818;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  position: relative; /* Para o posicionamento do botão de remover */
}

.cart-item-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 1rem;
}

.cart-item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.cart-item-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.cart-item-price {
  font-size: 1rem;
  color: #ff4081;
}

.cart-item-remove-button {
  background-color: #ff4081;
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 0.9rem;
}

.cart-total {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
}

.total-amount {
  color: #ff4081;
}

/* Botão para Ir para Pagamento */
.cart-proceed-payment-button {
  background-color: #00e5ff;
  color: #ffffff;
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 2rem;
}
